
***********************
macOS Mojave (10.14.2):

	Python3
	opencv-python
	Keras
	Cython
	tensorboard
	tensorflow
	numpy
	six
	scipy
	protobuf
	Pillow
	Pandas
	Matplotlib

***********************
Windows 10: 

	Fyll inn her Kato

***********************
Ubuntu 18.04 LTS: 
	
	

***********************

